.caja-1 {
  background-color: #c9d3ee; }

.caja-2 {
  background-color: #bac7e9; }

.caja-3 {
  background-color: #aabae4; }

.caja-4 {
  background-color: #9baddf; }

.caja-5 {
  background-color: #8ba1db; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-self: center;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #3461b4, #4b74c2);
  height: 5em;
  padding-top: 2em;
  color: white;
  margin-bottom: 2em;
  margin-top: 30px; }

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #3461b4;
  height: 1.8em; }

h3 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: midnightblue;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600; }

h4 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif; }

.botonIfn {
  background: #3461b4;
  color: #f8f9fa;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  height: auto;
  width: max-content;
  padding: 8px;
  border-radius: 2px;
  border-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1; }
  .botonIfn:hover {
    background: #f8f9fa;
    color: midnightblue;
    height: fit-content;
    color: #3461b4;
    box-shadow: 1.5px 1.5px 1px 1px; }
  .botonIfn::before {
    height: 100%;
    width: 0%;
    background-color: #f8f9fa;
    color: #3461b4;
    left: 0;
    top: 0;
    position: absolute;
    content: "";
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: -1; }

.botonIfn--modificado {
  background-color: #f8f9fa;
  color: #3461b4; }
  .botonIfn--modificado:hover {
    background-color: #3461b4;
    color: white; }
  .botonIfn--modificado:enabled {
    border: none;
    box-shadow: none; }
  .botonIfn--modificado:checked, .botonIfn--modificado :active {
    background-color: #3461b4;
    color: white; }

.botonIfn--modificado::before {
  height: 100%;
  width: 0%;
  background-color: #3461b4;
  color: white;
  left: 0;
  top: 0;
  position: absolute;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1; }

.botonIfn--modificado:hover::before {
  width: 100%; }

figure {
  overflow: hidden; }

.figure {
  overflow: hidden; }

.imgZoom {
  transform: scale(1);
  transition: 0.3s ease-in-out; }
  .imgZoom:hover {
    transform: scale(1.3); }

.imgOpacity {
  opacity: 0.8; }
  .imgOpacity:hover {
    opacity: 1; }

.imgFloatRight {
  float: right;
  margin-left: 1rem;
  justify-self: center;
  align-self: center;
  border-radius: 2px; }

.imgFloatLeft {
  float: left;
  margin-right: 1rem;
  justify-self: center;
  align-self: center;
  border-radius: 2px; }

.Header {
  grid-area: Header; }

.rrss {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  z-index: 2;
  margin-top: 1.25em;
  margin-left: 85%;
  z-index: 4; }
  .rrss .rrss__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 2px;
    margin-right: 2px; }
    .rrss .rrss__ul .rrss__ul__li {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-left: 2px;
      margin-right: 2px;
      font-size: 2rem; }
      .rrss .rrss__ul .rrss__ul__li .facebook {
        color: #3461b4; }
        .rrss .rrss__ul .rrss__ul__li .facebook:hover {
          color: #3b5998; }
        .rrss .rrss__ul .rrss__ul__li .facebook:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }
      .rrss .rrss__ul .rrss__ul__li .instagram {
        color: #3461b4; }
        .rrss .rrss__ul .rrss__ul__li .instagram:hover {
          color: #c32aa3; }
        .rrss .rrss__ul .rrss__ul__li .instagram .rrssTransform:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }
      .rrss .rrss__ul .rrss__ul__li .linkedin {
        color: #3461b4; }
        .rrss .rrss__ul .rrss__ul__li .linkedin:hover {
          color: #0e76a8; }
        .rrss .rrss__ul .rrss__ul__li .linkedin .rrssTransform:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }

.breadcrumb-item {
  margin-left: 5px;
  font-size: smaller; }

.botPaciente {
  margin-top: 1rem;
  margin-left: 5px; }

.formPaciente .formPaciente__label {
  width: 50%;
  margin-left: 1%; }

.formPaciente .formPaciente__conf {
  margin-bottom: 1rem; }

.dropdown-item:active {
  background-color: #3461b4; }

.navbar {
  z-index: 2; }

.gFooter1 {
  grid-area: gFooter1;
  margin-top: 1rem; }

.bgd {
  color: white; }

.rrssf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  text-align: center;
  text-decoration: none; }
  .rrssf .rrssf__ul {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0; }
    .rrssf .rrssf__ul .rrssf__ul__li {
      margin: 0.1em;
      font-size: 1.5em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-left: 0; }
      .rrssf .rrssf__ul .rrssf__ul__li .facebook {
        color: #3461b4; }
        .rrssf .rrssf__ul .rrssf__ul__li .facebook:hover {
          color: #3b5998; }
        .rrssf .rrssf__ul .rrssf__ul__li .facebook .rrssTransform:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }
      .rrssf .rrssf__ul .rrssf__ul__li .instagram {
        color: #3461b4; }
        .rrssf .rrssf__ul .rrssf__ul__li .instagram:hover {
          color: #c32aa3; }
        .rrssf .rrssf__ul .rrssf__ul__li .instagram .rrssTransform:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }
      .rrssf .rrssf__ul .rrssf__ul__li .linkedin {
        color: #3461b4; }
        .rrssf .rrssf__ul .rrssf__ul__li .linkedin:hover {
          color: #0e76a8; }
        .rrssf .rrssf__ul .rrssf__ul__li .linkedin .rrssTransform:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }

.Footer {
  grid-area: Footer;
  height: auto;
  background-color: #050400;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.3em;
  width: 100%; }

.mds {
  color: white;
  text-decoration: none;
  height: max-content;
  width: 10rem;
  align-content: center; }
  .mds .mds__ul {
    list-style-type: none;
    font-size: 0.9rem;
    padding: 0;
    margin: 0; }
  .mds .mds__li {
    list-style-type: none; }
  .mds .mds__a:hover {
    color: #3461b4; }
  .mds .mds__h3 {
    color: white; }
    .mds .mds__h3:hover {
      color: #3461b4; }
  .mds .mds__h32 {
    color: white; }

.mdsRow {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center; }

/*      GRIDS        */
.gBodyHome {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, auto);
  grid-template-areas: "Header Header Header" "gPrincipalHome gPrincipalHome gPrincipalHome" "gEleginos gEleginos gEleginos" "gEleginos1 gEleginos2 gEleginos3" "gAvancesF gAvancesF gAvancesC" "gNeuroT gNeuroT gNeuroT" "gNeuro1 gNeuro2 gNeuro3" "gAccidentesC gAccidentesF gAccidentesF" "gMapaT gMapaT gMapaT" "gMapaF gMapaF gMapaC" "gFooter1 gFooter1 gFooter1" "Footer Footer Footer"; }

.home {
  grid-area: gPrincipalHome; }
  .home .home__banner {
    background-image: url(../img/doc2ok.png);
    width: 100%;
    height: 18.75em; }
    .home .home__banner .home__banner__titulo {
      font-family: "Poppins", sans-serif;
      background-image: none;
      background-color: transparent;
      font-size: 2rem;
      width: 25%;
      margin-top: 30px;
      margin-left: 2rem;
      height: max-content;
      color: cornsilk;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px black;
      position: absolute;
      z-index: 1; }
    .home .home__banner .home__banner__turno {
      margin-top: 8rem;
      margin-left: 65%;
      display: flex;
      position: absolute;
      font-size: 0.9rem;
      text-align: center;
      font-weight: 500;
      background-color: #3461b4;
      color: white;
      border: none;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      border-radius: 2px;
      z-index: 1; }
      .home .home__banner .home__banner__turno .home__banner__turno__a {
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 15px 30px; }
        .home .home__banner .home__banner__turno .home__banner__turno__a:hover {
          color: #3461b4;
          font-weight: 500; }
    .home .home__banner .home__banner__turno::before {
      height: 100%;
      width: 0%;
      background-color: #f0f0f0;
      color: #3461b4;
      left: 0;
      top: 0;
      position: absolute;
      content: "";
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      z-index: -1; }
    .home .home__banner .home__banner__turno:hover::before {
      width: 100%; }
    .home .home__banner .home__banner__protocolo {
      position: absolute;
      margin-left: 69%;
      margin-top: 200px; }
  .home .home__contacto {
    text-align: center;
    padding: 0.5rem;
    background-color: #3461b4;
    color: #f0f0f0;
    font-size: 1em; }
    .home .home__contacto .home__contacto__mapaIcon {
      font-size: 1.1rem;
      padding: 0.8em;
      color: white; }
      .home .home__contacto .home__contacto__mapaIcon:hover {
        color: #37be7f; }

.estimado {
  margin-left: 0;
  width: 100%;
  color: white;
  background-color: #3461b4;
  text-align: center; }
  .estimado .iEstimado {
    margin-right: 0.5rem; }

.gEleginos {
  grid-area: gEleginos;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem; }

.gEleginos1 {
  grid-area: gEleginos1;
  text-align: center;
  justify-self: flex-end;
  align-self: center;
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .gEleginos1 .gEleginos1__doctor {
    margin-right: 18%;
    width: 20%; }

.gEleginos2 {
  grid-area: gEleginos2;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0; }
  .gEleginos2 .gEleginos2__instalaciones {
    width: 20%; }

.gEleginos3 {
  grid-area: gEleginos3;
  text-align: center;
  justify-self: flex-start;
  align-self: center;
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .gEleginos3 .gEleginos3__cobertura {
    margin-left: 15%;
    width: 20%; }

.gAvancesF {
  grid-area: gAvancesF;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  border-radius: 5px; }

.fotoAvances {
  width: 100%; }

.gCardAvances {
  grid-area: gAvancesC;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  margin-right: 5rem;
  width: 80%;
  padding: 1rem;
  height: auto;
  text-align: center;
  background-color: #3461b4;
  color: white;
  opacity: 0.8;
  border-radius: 5px; }
  .gCardAvances:hover {
    opacity: 1; }
  .gCardAvances .gCardAvances__titulo, .gCardAvances .gCardAvances__texto {
    color: cornsilk; }

.gNeuroT {
  grid-area: gNeuroT;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.gNeuro1 {
  grid-area: gNeuro1;
  text-align: center;
  justify-self: flex-end;
  align-self: center;
  margin: 2rem 0 2rem 0;
  width: 18rem;
  margin-bottom: 4rem; }

.gNeuro2 {
  grid-area: gNeuro2;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  width: 18rem;
  margin-bottom: 4rem; }

.gNeuro3 {
  grid-area: gNeuro3;
  text-align: center;
  justify-self: self-start;
  align-self: center;
  margin: 2rem 0 2rem 0;
  width: 18rem;
  margin-bottom: 4rem; }

.gAccidentesC {
  grid-area: gAccidentesC;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  width: 80%;
  margin-left: 5rem;
  padding: 1rem;
  height: auto;
  text-align: center;
  background-color: #3461b4;
  color: white;
  opacity: 0.8;
  border-radius: 5px; }
  .gAccidentesC .tAccidentes, .gAccidentesC .tAccidentes2 {
    color: cornsilk; }

.gAccidentesC:hover {
  opacity: 1; }

.gAccidentesF {
  grid-area: gAccidentesF;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  border-radius: 5px; }

.gMapaT {
  grid-area: gMapaT;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.gMapaC {
  grid-area: gMapaC;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  width: 60%; }
  .gMapaC .iconoMapa2 {
    font-size: 2.5rem;
    color: #d83737;
    margin-bottom: 1rem; }

.gMapaF {
  grid-area: gMapaF;
  justify-self: center;
  align-self: center;
  width: 90%;
  height: 28rem;
  margin: 2rem 0 2rem 0; }

.whatsapp .iconWhatsapp {
  width: 5em;
  display: flex;
  position: fixed;
  top: 80%;
  left: 85%;
  z-index: 2;
  opacity: 0.9;
  transform: scale(1);
  transition: 0.3s ease-in-out; }
  .whatsapp .iconWhatsapp:hover {
    opacity: 1;
    transform: scale(1.3); }

.fade, .show {
  margin-left: 0; }

.h1Articulo {
  grid-area: h1Articulo;
  margin-top: 13px; }

.articulo {
  grid-area: articulo; }

/*    NUESTRA HISTORIA    */
.articulo {
  width: 80%;
  position: relative;
  margin-bottom: 5rem;
  margin-left: 10%; }
  .articulo__titulo {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
    text-transform: uppercase; }
  .articulo__img {
    width: 20rem;
    float: left;
    margin-left: 0;
    margin-bottom: 0; }

.gHistoria {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  grid-template-areas: "Header" "historia1" "h1Historia" "articulo" "tresGen" "gFooter1" "Footer"; }

.historia1 {
  grid-area: historia1; }

.h1Historia {
  grid-area: h1Historia;
  margin-top: 13px; }

.tresGen {
  display: flex;
  justify-content: center;
  grid-area: tresGen;
  width: 100%; }
  .tresGen .cardGen {
    width: 16rem;
    height: 22.2rem;
    padding: 1rem;
    margin-bottom: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
    background-color: #f0f0f0; }

/*    STAFF    */
.cardStaffDir {
  width: 16rem;
  margin: 1rem; }

.cardStaff {
  width: 12rem;
  margin: 1rem;
  height: auto; }

.h4Staff {
  text-align: center;
  margin-bottom: 2rem; }

.grupoStaff {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center; }

.imgStaff {
  height: 11rem; }

/*  NUESTRAS INSTALACIONES */
.gInstalaciones {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, auto);
  grid-template-areas: "Header" "ins1" "h1Articulo" "articulo" "gMapaT" "gMapaC" "gMapaF" "gFooter1" "Footer"; }

.ins1 {
  grid-area: ins1; }

/*    BLOG   */
.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.cardBlog {
  height: fit-content;
  margin: 2rem;
  min-width: 400px; }

.gblog {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "Header" "blog1" "h1Articulo" "articulo" "gFooter1" "Footer"; }

.blog1 {
  grid-area: blog1; }

/*--------------------------------------------- ESTUDIOS ----------------------------------------- */
.tablaEstudios {
  margin: 3rem 10%;
  width: 80%;
  display: flex;
  justify-content: center; }

.divProblemas {
  background-color: #f8f9fa;
  border-radius: 5px;
  width: 80%;
  min-width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 10%;
  padding: 1rem;
  height: auto; }
  .divProblemas--modificado {
    background-color: white; }

.imgProb {
  position: relative; }

.h1problemas {
  margin-top: 13px; }

.gProblemas {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "Header" "sProblemas" "mProblemas" "gFooter1" "Footer"; }

.sProblemas {
  grid-area: sProblemas; }

.gProblemas {
  grid-area: gProblemas; }

/*------------------------------------------ COBERTURA MEDICA ------------------------------------ */
.ulCobertura {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.liCobertura {
  margin-left: 3rem;
  list-style-position: inside;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 14px; }

.d-flex {
  width: 88%;
  margin-left: 6%;
  margin-bottom: 3rem;
  grid-area: d-flex; }

.cobertura1 {
  grid-area: cobertura1; }

.coberturah1 {
  grid-area: coberturah1; }

.os {
  width: 2rem; }

.gcobertura {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "Header" "cobertura1" "coberturah1" "mainCobertura" "gFooter1" "Footer"; }

/*----------------------------------------------- TALLERES -------------------------------------- */
.gTalleres {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(16, auto);
  grid-template-areas: "Header Header" "gtyc gtyc" "gtalleresPrincipal gtalleresPrincipal" "gTalleresOpciones gTalleresOpciones" "gTalleresVideoT gTalleresVideoT" "gTalleresVideo gTalleresVideo" "gTalleresAbiertos gTalleresAbiertos" "cardt1 cardt1" "cardt2 cardt2" "gCursos gCursos" "cardt3 cardt3" "cardt4 cardt4" "gTalleresCancionT gTalleresCancionT" "gTalleresCancion gTalleresCancion" "gFooter1 gFooter1" "Footer Footer"; }

.gtyc {
  grid-area: gtyc; }

.gTalleresPrincipal {
  grid-area: gtalleresPrincipal;
  margin-top: 13px; }

.gTalleresOpciones {
  grid-area: gTalleresOpciones;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.gTalleresVideoT {
  grid-area: gTalleresVideoT; }

.gTalleresVideo {
  grid-area: gTalleresVideo;
  justify-self: center;
  margin: 2em; }

.gTalleresAbiertos {
  grid-area: gTalleresAbiertos; }

.cardt1 {
  grid-area: cardt1; }

.cardt2 {
  grid-area: cardt2; }

.gCursos {
  grid-area: gCursos; }

.cardt3 {
  grid-area: cardt3; }

.cardt4 {
  grid-area: cardt4; }

.gTalleresCancionT {
  grid-area: gTalleresCancionT; }

.gTalleresCancion {
  grid-area: gTalleresCancion;
  justify-self: center;
  margin: 2em; }

.curso1, .curso2 {
  width: 22em; }

.talleres {
  background-color: #f8f9fa; }

.aTalleres, .aCursos {
  margin-bottom: 3rem; }

/*     prueba  */
.gTalleresCard {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 5rem;
  margin: 2rem 3rem; }
  .gTalleresCard .talleres__img {
    width: 80%;
    padding: 0 1rem;
    margin: 0 2rem;
    height: 18rem;
    border-radius: 2px; }
  .gTalleresCard .talleres__texto {
    width: 80%; }

.talleres__figure {
  width: 80%;
  height: auto; }

/*------------------------------------------ PEDIR TURNO ----------------------------------------- */
.categorias {
  color: darkblue; }

table {
  margin-left: 20px;
  border: 2px solid #414153; }

th {
  background-color: lightblue;
  text-align: center;
  border: none;
  margin: 0; }

tr, td {
  text-align: left;
  vertical-align: center;
  border: 1px solid;
  margin: 0; }

.pediTurn {
  padding-bottom: 1rem; }

.formulario {
  background-image: url(../img/femaledoctor.jpg);
  width: 100%; }

.formularioTexto {
  margin-left: 40px;
  padding-top: 40px; }

#formTurno {
  text-decoration: none; }

.h4Form {
  font-weight: 580;
  text-transform: uppercase; }

.divPadre {
  display: grid;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 2rem;
  text-align: center;
  align-items: center;
  border: solid #3b5998;
  grid-template-columns: 4 2fr;
  grid-template-rows: 5 2fr;
  grid-template-areas: "a1 b1 c1 d1" "a2 b2 c2 d2"     "a3 b3 c3 d3"     "a4 b4 c4 d4"     "a5 b5 C5 d5"; }

.a1, .b1, .c1, .d1 {
  text-align: center;
  background-color: #3461b4;
  color: white;
  font-weight: 500px;
  height: 40px;
  align-self: center;
  padding: 5px; }

.h3Turno {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem; }

/*-----------------------------------------          RESPONSIVE TABLET NOTEBOOK     -------------------------------------------------------  */
/*-----------------------------------------           DESDE 992 HASTA 1024 px       -------------------------------------------------------  */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .home__banner__titulo {
    font-size: 1.7rem; }
  .home .home__banner .home__banner__protocolo {
    margin-left: 69%;
    margin-top: 20%; }
  .rrss {
    margin-top: 6.5em; }
  .gAvancesF {
    transform: scale(0.8); }
  .cardBlog {
    min-width: 400px; }
  .gTalleresCard {
    padding: 2rem 1rem;
    margin: 2rem 1rem; }
    .gTalleresCard .talleres__img {
      padding: 0 0.5rem;
      margin: 0 1rem; }
  .tresGen {
    width: 80%;
    margin-left: 10%; } }

/*-----------------------------------------          RESPONSIVE TABLET              -------------------------------------------------------  */
/*--------------------------------------------           769 a 991 PX              -------------------------------------------------------  */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  nav {
    justify-content: center; }
  .rrss {
    margin-top: 125px;
    margin-left: 70%; }
  .home .home__banner .home__banner__titulo {
    width: 45%;
    margin-top: 1.9rem; }
  .home .home__banner .home__banner__protocolo {
    position: absolute;
    margin-left: 69%;
    margin-top: 200px; }
  .gEleginos1, .gEleginos2, .gEleginos3 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gEleginos1 .gEleginos1__doctor {
    margin-right: 0; }
  .gEleginos3 .gEleginos3__cobertura {
    margin-left: 0; }
  .gNeuro1, .gNeuro2, .gNeuro3 {
    justify-self: center;
    width: 15rem; }
  .gAvancesF {
    transform: scale(0.7); }
  .gNeuro1, .gNeuro2, .gNeuro3 {
    width: 17rem; }
  .cardBlog {
    min-width: 350px; }
  .gTalleresCard {
    padding: 2rem 0.3em;
    margin: 2rem 0.3rem; }
    .gTalleresCard .talleres__img {
      padding: 0 0.5rem;
      margin: 0 1rem; }
  .formPaciente .formPaciente__label {
    width: 70%; }
  .articulo {
    display: flex;
    flex-direction: column;
    align-content: center; }
    .articulo__img {
      width: 100%; }
  .tresGen {
    display: flex;
    flex-direction: wrap;
    align-items: center; }
  .mds {
    width: 20%; } }

/*--------------------------------------------       RESPONSIVE TABLET       -------------------------------------------------------  */
/*--------------------------------------------         DE 500 a 768 px       -------------------------------------------------------  */
@media only screen and (min-width: 500px) and (max-width: 768px) {
  .imgLogo {
    width: 100%;
    margin-bottom: 0.6em; }
  .rrss {
    margin-top: 140px;
    margin-left: 70%;
    display: flex; }
  .home .home__banner {
    display: flex;
    flex-direction: row; }
    .home .home__banner .home__banner__titulo {
      width: 45%;
      margin-top: 1.9rem;
      min-width: 232px; }
    .home .home__banner .home__banner__protocolo {
      margin-left: 59%;
      margin-top: 220px; }
    .home .home__banner .home__banner__turno {
      margin-left: 62%;
      margin-top: 150px;
      width: auto; }
      .home .home__banner .home__banner__turno .home__banner__turno__a {
        padding: 0.8rem;
        text-align: center; }
  .mdsRow {
    display: none; }
  .Header {
    grid-area: "Header"; }
  .gEleginos1, .gEleginos2, .gEleginos3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%; }
  .gEleginos1 .gEleginos1__doctor {
    margin-right: 0; }
  .gEleginos3 .gEleginos3__cobertura {
    margin-left: 0;
    justify-self: center; }
  .gNeuro1, .gNeuro2, .gNeuro3 {
    justify-self: center;
    width: 70%; }
  .gCardAvances {
    margin-right: 0;
    margin-top: 0; }
  .gAvancesF {
    transform: scale(0.6); }
  .gAccidentesF {
    transform: scale(0.7); }
  .gAccidentesC {
    margin-left: 0; }
  .whatsapp .iconWhatsapp {
    width: 4.1em;
    left: 75%; }
  .gBodyHome {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(19, auto);
    grid-template-areas: "Header" "gPrincipalHome" "gEleginos" "gEleginos1" "gEleginos2"  "gEleginos3" "gAvancesF" "gAvancesC" "gNeuroT" "gNeuro1" "gNeuro2" "gNeuro3" "gAccidentesC" "gAccidentesF" "gMapaT" "gMapaF"  "gMapaC" "gFooter1" "Footer"; }
  .blog {
    flex-direction: column; }
  .gTalleresCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0.5rem;
    margin: 1.5rem 0.5rem; }
    .gTalleresCard .talleres__img {
      width: 85%;
      padding: 0 0.5rem;
      margin: 0 0.5rem;
      justify-self: center; }
    .gTalleresCard .talleres__texto {
      width: 85%;
      padding: 0 1rem;
      margin: 1.5rem 0.5rem 0 0.5rem; }
  .articulo {
    width: 70%;
    margin-bottom: 4rem;
    align-content: center;
    justify-self: center;
    margin-left: 0;
    display: flex;
    flex-direction: column; }
    .articulo__titulo {
      margin-bottom: 1rem;
      width: 100%; }
    .articulo__img {
      width: 100%;
      margin-left: 0;
      padding-left: 0;
      position: relative;
      align-self: center; }
  .cardStaffDir {
    margin: 0.5rem; }
  .grupoStaff {
    direction: flex;
    flex-wrap: wrap; }
  .cardStaff {
    margin: 0.3rem;
    height: auto; }
  .imgStaff {
    height: 11rem; }
  .divProblemas {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
    margin: 10%;
    padding: 1rem; }
  .articulo {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .imgProb {
    position: relative;
    width: 100%;
    margin: 0;
    align-self: center; }
  .gTalleresVideo {
    width: 85%;
    height: 100%;
    padding-bottom: 4rem;
    position: relative; }
  .divPadre {
    display: none; }
  .h3Turno {
    display: none; }
  .formulario {
    background-image: none;
    background-color: #c9cfd2;
    width: 90%;
    margin-left: 5%; }
  .fturno {
    margin: 10px;
    font-size: 1.1rem; }
  .elmotivo {
    width: 90%; }
  .formularioTexto {
    text-align: center;
    margin-left: 0; }
  .formPaciente .formPaciente__label {
    width: 90%; }
  .tresGen {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*--------------------------------------------       RESPONSIVE MOBILE        -------------------------------------------------------  */
/*--------------------------------------------         HASTA 499px            -------------------------------------------------------  */
@media only screen and (max-width: 499px) {
  .imgLogo {
    width: 99%;
    height: auto;
    margin-bottom: 0.4em; }
  .navbar-brand {
    margin-right: 0; }
  .rrss {
    margin-top: 194px;
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
    width: 100%; }
  .rrss_ul {
    padding-left: 0; }
  .breadcrum {
    flex-wrap: wrap; }
  .home .home__banner {
    display: flex;
    justify-content: center;
    position: relative; }
    .home .home__banner .home__banner__titulo {
      width: 100%;
      margin-left: 0;
      margin-bottom: 7rem;
      padding-top: 0%;
      font-size: 1.8rem;
      max-width: 400px; }
    .home .home__banner .home__banner__protocolo {
      text-align: center;
      margin-top: 245px;
      margin-left: 0;
      width: 15rem; }
    .home .home__banner .home__banner__turno {
      align-items: center;
      margin-top: 180px;
      margin-left: 0;
      width: 15rem; }
      .home .home__banner .home__banner__turno .home__banner__turno__a {
        text-align: center;
        width: 15rem; }
  .modal-body {
    font-size: smaller; }
  .Header {
    grid-area: "Header";
    height: 10em; }
  .mdsRow {
    display: none; }
  .gEleginos1, .gEleginos2, .gEleginos3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%; }
  .gEleginos1 .gEleginos1__doctor {
    margin-right: 0; }
  .gEleginos3 .gEleginos3__cobertura {
    margin-left: 0;
    justify-self: center; }
  .gNeuro1, .gNeuro2, .gNeuro3 {
    justify-self: center;
    width: 70%; }
  .gCardAvances {
    margin-right: 0;
    margin-top: 0; }
  .fotoAvances {
    width: 100%; }
  .gAvancesF {
    transform: scale(0.8); }
  .gAccidentesF {
    transform: scale(0.6); }
  .gAccidentesC {
    margin-left: 0; }
  .gMapaT {
    margin-top: 0; }
  .whatsapp .iconWhatsapp {
    width: 4.1em;
    left: 70%; }
  .gBodyHome {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(19, auto);
    grid-template-areas: "Header" "gPrincipalHome" "gEleginos" "gEleginos1" "gEleginos2"  "gEleginos3" "gAvancesF" "gAvancesC" "gNeuroT" "gNeuro1" "gNeuro2" "gNeuro3" "gAccidentesC" "gAccidentesF" "gMapaT" "gMapaF"  "gMapaC" "gFooter1" "Footer"; }
  .blog {
    flex-direction: column; }
  .cardBlog {
    height: fit-content;
    margin: 2rem;
    min-width: 200px; }
  .gTalleresCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0.2rem;
    margin: 1.5rem 0.2rem; }
    .gTalleresCard .talleres__img {
      width: 90%;
      padding: 0 0.2rem;
      margin: 0 0.2rem;
      justify-self: center; }
    .gTalleresCard .talleres__texto {
      width: 90%;
      padding: 0 1rem;
      margin: 1.5rem 0.5rem 0 0.5rem; }
  .articulo {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 4rem;
    align-self: center;
    justify-self: center;
    margin-left: 0; }
    .articulo__titulo {
      margin-bottom: 1rem;
      width: 100%; }
    .articulo__img {
      width: 100%;
      margin-left: 0; }
  .grupoStaff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .cardStaffDir {
    width: 70%;
    margin: 15%;
    height: auto;
    align-self: center; }
  .cardStaff {
    width: 70%;
    margin: 15%;
    height: auto;
    align-self: center; }
  .imgStaff {
    height: auto; }
  .h4Staff {
    text-align: center;
    margin-bottom: 2rem; }
  .divProblemas {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
    margin: 10%;
    padding: 1rem; }
  .imgFloatRight {
    width: 80%;
    margin: 0;
    padding: 0;
    align-self: center; }
  .imgFloatLeft {
    width: 80%;
    margin: 0;
    padding: 0;
    align-self: center; }
  .imgProb {
    position: relative;
    width: 100%;
    margin: 0;
    align-self: center; }
  .gTalleresVideo {
    width: 85%;
    height: 85%;
    padding-bottom: 2rem;
    position: relative; }
  .divPadre {
    display: none; }
  .h3Turno {
    display: none; }
  .formulario {
    background-image: none;
    background-color: #c9cfd2;
    width: 90%;
    margin-left: 5%; }
  .fturno {
    margin: 10px;
    font-size: 1.1rem; }
  .elmotivo {
    width: 90%; }
  .formularioTexto {
    text-align: center;
    margin-left: 0; }
  .liCobertura {
    width: 80%;
    margin-left: 5%; }
  .ulCobertura {
    margin-left: 0;
    padding-left: 0;
    width: 100%; }
  .formPaciente .formPaciente__label {
    width: 90%; }
  .tresGen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10%; } }
