.caja-1 {
  background-color: #bac7e9; }

.caja-2 {
  background-color: #9baddf; }

.caja-3 {
  background-color: #7c94d6; }

.caja-4 {
  background-color: #5d7bcc; }

.caja-5 {
  background-color: #3e62c2; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-self: center;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #3461b4, #4b74c2);
  height: 5em;
  padding-top: 2em;
  color: white;
  margin-bottom: 2em; }

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #3461b4;
  height: 1.8em;
  margin: 1em; }

h3 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: midnightblue;
  margin: 1rem; }

h4 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif; }

.botonIfn {
  background: #3461b4;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  height: auto;
  pad: 5px;
  border-radius: 2px;
  z-index: 1; }
  .botonIfn:hover {
    background: white;
    color: #3461b4; }
  .botonIfn:enabled {
    border: none;
    box-shadow: none; }
  .botonIfn:checked, .botonIfn :active {
    background-color: #3461b4;
    color: #f0f0f0; }

.botonIfn--modificado {
  background-color: #f0f0f0;
  color: #3461b4; }
  .botonIfn--modificado:hover {
    background-color: #3461b4;
    color: #f0f0f0; }
  .botonIfn--modificado:enabled {
    border: none;
    box-shadow: none; }
  .botonIfn--modificado:checked, .botonIfn--modificado :active {
    background-color: #3461b4;
    color: #f0f0f0; }

figure {
  overflow: hidden; }

.figure {
  overflow: hidden; }

.imgZoom {
  transform: scale(1);
  transition: 0.3s ease-in-out; }
  .imgZoom:hover {
    transform: scale(1.3); }

.imgOpacity {
  opacity: 0.8; }
  .imgOpacity:hover {
    opacity: 1; }

.imgFloatRight {
  float: right;
  margin-left: 1rem;
  justify-self: center;
  align-self: center; }

.imgFloatLeft {
  float: left;
  margin-right: 1rem;
  justify-self: center;
  align-self: center; }

.Header {
  grid-area: Header; }

.rrss {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  z-index: 2;
  margin-top: 1.25em;
  margin-left: 85%; }
  .rrss .rrss__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 2px;
    margin-right: 2px; }
    .rrss .rrss__ul .rrss__ul__li {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-left: 2px;
      margin-right: 2px;
      font-size: 2rem; }
      .rrss .rrss__ul .rrss__ul__li .facebook {
        color: #3461b4; }
        .rrss .rrss__ul .rrss__ul__li .facebook:hover {
          color: #3b5998; }
        .rrss .rrss__ul .rrss__ul__li .facebook:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }
      .rrss .rrss__ul .rrss__ul__li .instagram {
        color: #3461b4; }
        .rrss .rrss__ul .rrss__ul__li .instagram:hover {
          color: #c32aa3; }
        .rrss .rrss__ul .rrss__ul__li .instagram .rrssTransform:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }
      .rrss .rrss__ul .rrss__ul__li .linkedin {
        color: #3461b4; }
        .rrss .rrss__ul .rrss__ul__li .linkedin:hover {
          color: #0e76a8; }
        .rrss .rrss__ul .rrss__ul__li .linkedin .rrssTransform:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }

.gFooter1 {
  grid-area: gFooter1; }

.rrssf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  text-align: center;
  text-decoration: none; }
  .rrssf .rrssf__ul {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0; }
    .rrssf .rrssf__ul .rrssf__ul__li {
      margin: 0.1em;
      font-size: 1.5em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-left: 0; }
      .rrssf .rrssf__ul .rrssf__ul__li .facebook {
        color: #3461b4; }
        .rrssf .rrssf__ul .rrssf__ul__li .facebook:hover {
          color: #3b5998; }
        .rrssf .rrssf__ul .rrssf__ul__li .facebook .rrssTransform:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }
      .rrssf .rrssf__ul .rrssf__ul__li .instagram {
        color: #3461b4; }
        .rrssf .rrssf__ul .rrssf__ul__li .instagram:hover {
          color: #c32aa3; }
        .rrssf .rrssf__ul .rrssf__ul__li .instagram .rrssTransform:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }
      .rrssf .rrssf__ul .rrssf__ul__li .linkedin {
        color: #3461b4; }
        .rrssf .rrssf__ul .rrssf__ul__li .linkedin:hover {
          color: #0e76a8; }
        .rrssf .rrssf__ul .rrssf__ul__li .linkedin .rrssTransform:hover {
          transform: translate(0, -5px);
          transition: 0.3s ease-in-out; }

.Footer {
  grid-area: Footer;
  height: auto;
  background-color: #050400;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.3em; }

.mds {
  color: white;
  text-decoration: none; }

.mds__ul {
  padding: 0;
  list-style-type: none; }

.mds__li {
  list-style-type: none; }

.mds__a:hover {
  color: #3461b4; }

.mdsRow {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center; }

/*      GRIDS        */
.gBodyHome {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, auto);
  grid-template-areas: "Header Header Header" "gPrincipalHome gPrincipalHome gPrincipalHome" "gEleginos gEleginos gEleginos" "gEleginos1 gEleginos2 gEleginos3" "gAvancesF gAvancesF gAvancesC" "gNeuroT gNeuroT gNeuroT" "gNeuro1 gNeuro2 gNeuro3" "gAccidentesC gAccidentesF gAccidentesF" "gMapaT gMapaT gMapaT" "gMapaF gMapaF gMapaC" "gFooter1 gFooter1 gFooter1" "Footer Footer Footer"; }

.home {
  grid-area: gPrincipalHome; }
  .home .home__botPaciente {
    margin-top: 1rem; }
  .home .home__formPaciente .home__formPaciente__label {
    width: 50%;
    margin-left: 1%; }
  .home .home__formPaciente .home__formPaciente__conf {
    margin-bottom: 1rem; }
  .home .home__banner {
    background-image: url(../img/doc2ok.png);
    width: 100%;
    height: 18.75em; }
    .home .home__banner .home__banner__titulo {
      font-family: "Poppins", sans-serif;
      background-image: none;
      background-color: transparent;
      font-size: 2rem;
      width: 25%;
      margin-top: 1rem;
      margin-left: 2rem;
      height: max-content;
      color: cornsilk;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px black;
      position: absolute;
      z-index: 1; }
    .home .home__banner .home__banner__turno {
      margin-top: 8rem;
      margin-left: 65%;
      font-size: 0.9rem;
      display: flex;
      position: absolute;
      text-align: center;
      font-weight: 500;
      background-color: #3461b4;
      color: #fff;
      border: none;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      border-radius: 2px;
      z-index: 1; }
      .home .home__banner .home__banner__turno .home__banner__turno__a {
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 15px 30px; }
        .home .home__banner .home__banner__turno .home__banner__turno__a:hover {
          color: #3461b4;
          font-weight: 600; }
    .home .home__banner .home__banner__turno::before {
      height: 100%;
      width: 0%;
      background-color: #f0f0f0;
      color: #3461b4;
      left: 0;
      top: 0;
      position: absolute;
      content: "";
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      z-index: -1; }
    .home .home__banner .home__banner__turno:hover::before {
      width: 100%; }
    .home .home__banner .home__banner__protocolo {
      position: absolute;
      margin-left: 9.8%;
      margin-top: 17%; }
  .home .home__contacto {
    text-align: center;
    padding: 0.5rem;
    background-color: #3461b4;
    color: #f0f0f0;
    font-size: 1em; }
    .home .home__contacto .home__contacto__mapaIcon {
      font-size: 1.1rem;
      padding: 0.8em;
      color: white; }
      .home .home__contacto .home__contacto__mapaIcon:hover {
        color: #37be7f; }

.estimado {
  margin-left: 0;
  width: 100%;
  color: white;
  background-color: #3461b4;
  text-align: center; }
  .estimado .iEstimado {
    margin-right: 0.5rem; }

.gEleginos {
  grid-area: gEleginos;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.gEleginos1 {
  grid-area: gEleginos1;
  text-align: center;
  justify-self: flex-end;
  align-self: center;
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .gEleginos1 .gEleginos1__doctor {
    margin-right: 18%;
    width: 20%; }

.gEleginos2 {
  grid-area: gEleginos2;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0; }
  .gEleginos2 .gEleginos2__instalaciones {
    width: 20%; }

.gEleginos3 {
  grid-area: gEleginos3;
  text-align: center;
  justify-self: flex-start;
  align-self: center;
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .gEleginos3 .gEleginos3__cobertura {
    margin-left: 15%;
    width: 20%; }

.gAvancesF {
  grid-area: gAvancesF;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  border-radius: 5px; }

.gCardAvances {
  grid-area: gAvancesC;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  margin-right: 5rem;
  width: 80%;
  padding: 1rem;
  height: auto;
  text-align: center;
  background-color: #3461b4;
  color: white;
  opacity: 0.8;
  border-radius: 5px; }
  .gCardAvances:hover {
    opacity: 1; }
  .gCardAvances .gCardAvances__titulo, .gCardAvances .gCardAvances__texto {
    color: cornsilk; }

.gNeuroT {
  grid-area: gNeuroT; }

.gNeuro1 {
  grid-area: gNeuro1;
  text-align: center;
  justify-self: flex-end;
  align-self: center;
  margin: 2rem 0 2rem 0;
  width: 18rem; }

.gNeuro2 {
  grid-area: gNeuro2;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  width: 18rem; }

.gNeuro3 {
  grid-area: gNeuro3;
  text-align: center;
  justify-self: self-start;
  align-self: center;
  margin: 2rem 0 2rem 0;
  width: 18rem; }

.gAccidentesC {
  grid-area: gAccidentesC;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  width: 80%;
  margin-left: 5rem;
  padding: 1rem;
  height: auto;
  text-align: center;
  background-color: #3461b4;
  color: white;
  opacity: 0.8;
  border-radius: 5px; }
  .gAccidentesC .tAccidentes, .gAccidentesC .tAccidentes2 {
    color: cornsilk; }

.gAccidentesC:hover {
  opacity: 1; }

.gAccidentesF {
  grid-area: gAccidentesF;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  border-radius: 5px; }

.gMapaT {
  grid-area: gMapaT;
  text-align: center; }

.gMapaC {
  grid-area: gMapaC;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 2rem 0 2rem 0;
  width: 60%; }
  .gMapaC .iconoMapa2 {
    font-size: 2.5rem;
    color: #d83737;
    margin-bottom: 1rem; }

.gMapaF {
  grid-area: gMapaF;
  justify-self: center;
  align-self: center;
  width: 90%;
  height: 28rem;
  margin: 2rem 0 2rem 0; }

.whatsapp .iconWhatsapp {
  width: 5em;
  display: flex;
  position: fixed;
  top: 80%;
  left: 85%;
  z-index: 2;
  opacity: 0.9;
  transform: scale(1);
  transition: 0.3s ease-in-out; }
  .whatsapp .iconWhatsapp:hover {
    opacity: 1;
    transform: scale(1.3); }

/*    NUESTRA HISTORIA    */
.articulo {
  width: 80%;
  position: relative;
  margin-bottom: 5rem;
  margin-left: 10%; }
  .articulo__titulo {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .articulo__img {
    width: 20rem;
    float: left; }

.gHistoria {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "Header" "h1Articulo" "articulo" "gFooter1" "Footer"; }

/*    STAFF    */
.cardStaffDir {
  width: 16rem;
  margin: 1rem; }

.cardStaff {
  width: 12rem;
  margin: 1rem;
  height: 25rem; }

.h4Staff {
  text-align: center;
  margin-bottom: 2rem; }

.grupoStaff {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center; }

/*  NUESTRAS INSTALACIONES */
.gInstalaciones {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "Header" "h1Articulo" "articulo" "gFooter1" "Footer"; }

/*    BLOG   */
.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.cardBlog {
  height: fit-content;
  margin: 2rem; }

/*--------------------------------------------- ESTUDIOS ----------------------------------------- */
.tablaEstudios {
  margin: 3rem 10%;
  width: 80%;
  display: flex;
  justify-content: center; }

.divProblemas {
  background-color: #ebe8f3;
  border-radius: 5px;
  width: 80%;
  margin-left: 10%;
  padding: 1rem; }
  .divProblemas--modificado {
    background-color: white; }

.gProblemas {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "Header" "gProblemas" "sProblemas" "gFooter1" "Footer"; }

/*------------------------------------------ COBERTURA MEDICA ------------------------------------ */
.ulCobertura {
  font-weight: bold; }

.liCobertura {
  margin-left: 3rem;
  list-style-position: inside;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 14px; }

/*----------------------------------------------- TALLERES -------------------------------------- */
.gTalleres {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(15, auto);
  grid-template-areas: "Header Header" "gtalleresPrincipal gtalleresPrincipal" "gTalleresOpciones gTalleresOpciones" "gTalleresVideoT gTalleresVideoT" "gTalleresVideo gTalleresVideo" "gTalleresAbiertos gTalleresAbiertos" "gTalleresA1 gTalleresA1Card" "gTalleresA2 gTalleresA2Card" "gCursos gCursos" "gCursos1Card gCursos1" "gCursos2Card gCursos2" "gTalleresCancionT gTalleresCancionT" "gTalleresCancion gTalleresCancion" "gFooter1 gFooter1" "Footer Footer"; }

.gTalleresPrincipal {
  grid-area: gtalleresPrincipal; }

.gTalleresOpciones {
  grid-area: gTalleresOpciones;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.gTalleresVideoT {
  grid-area: gTalleresVideoT; }

.gTalleresVideo {
  grid-area: gTalleresVideo;
  justify-self: center;
  margin: 2em; }

.gTalleresAbiertos {
  grid-area: gTalleresAbiertos; }

.gTalleresA1 {
  grid-area: gTalleresA1;
  justify-self: flex-end;
  margin: 2em; }

.gTalleresA1Card {
  grid-area: gTalleresA1Card;
  justify-self: flex-start;
  align-self: center;
  margin: 2em;
  width: 50%;
  text-align: center; }

.gTalleresA2 {
  grid-area: gTalleresA2;
  justify-self: flex-end;
  margin: 2em; }

.gTalleresA2Card {
  grid-area: gTalleresA2Card;
  justify-self: flex-start;
  align-self: center;
  margin: 2em;
  width: 50%;
  text-align: center; }

.gCursos {
  grid-area: gCursos; }

.gCursos1Card {
  grid-area: gCursos1Card;
  justify-self: flex-end;
  align-self: center;
  margin: 2em;
  width: 50%;
  text-align: center; }

.gCursos1 {
  grid-area: gCursos1;
  justify-self: flex-start;
  margin: 2em; }

.gCursos2Card {
  grid-area: gCursos2Card;
  justify-self: flex-end;
  align-self: center;
  margin: 2em;
  width: 50%;
  text-align: center; }

.gCursos2 {
  grid-area: gCursos2;
  justify-self: flex-start;
  margin: 2em; }

.gTalleresCancionT {
  grid-area: gTalleresCancionT; }

.gTalleresCancion {
  grid-area: gTalleresCancion;
  justify-self: center;
  margin: 2em; }

.suenoyninos, .suenoyproductividad, .curso1, .curso2 {
  width: 22em; }

.divTalleres {
  width: 10rem;
  text-align: center;
  justify-self: flex-end;
  background-color: cornflowerblue;
  color: white;
  margin: 2rem;
  padding: 1em;
  border-radius: 0.3em; }

.divCursos {
  width: 10rem;
  text-align: center;
  justify-self: flex-end;
  background-color: cornflowerblue;
  margin: 2rem;
  padding: 1em 0.1em 1em 0.1em;
  border-radius: 0.3em; }

.aTalleres, .aCursos {
  text-decoration: none;
  text-align: center;
  color: white; }

/*------------------------------------------ PEDIR TURNO ----------------------------------------- */
.categorias {
  color: darkblue; }

table {
  margin-left: 20px;
  border: 2px solid #414153; }

th {
  background-color: lightblue;
  text-align: center;
  border: none;
  margin: 0; }

tr, td {
  text-align: left;
  vertical-align: center;
  border: 1px solid;
  margin: 0; }

.formulario {
  background-image: url(../img/femaledoctor.jpg);
  width: 100%; }

.formularioTexto {
  margin-left: 40px;
  margin-top: 40px; }

#formTurno {
  text-decoration: none;
  text-transform: none; }

.divPadre {
  display: grid;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  align-items: center;
  border: solid #3b5998;
  grid-template-columns: 4 2fr;
  grid-template-rows: 5 2fr;
  grid-template-areas: "a1 b1 c1 d1" "a2 b2 c2 d2"     "a3 b3 c3 d3"     "a4 b4 c4 d4"     "a5 b5 C5 d5"; }

.a1, .b1, .c1, .d1 {
  text-align: center;
  background-color: #3b5998;
  color: white;
  font-weight: bold;
  height: 20px; }

.h3Turno {
  width: 100%;
  text-align: center; }

/*-----------------------------------------          RESPONSIVE TABLET NOTEBOOK     -------------------------------------------------------  */
/*--------------------------------------------            DESDE 992PX              -------------------------------------------------------  */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .home__banner__titulo {
    font-size: 1.7rem; }
  .home .home__banner .home__banner__protocolo {
    margin-left: 69%;
    margin-top: 20%; }
  .rrss {
    margin-top: 6.5em; }
  .gAvancesF {
    transform: scale(0.8); } }

/*-----------------------------------------          RESPONSIVE TABLET              -------------------------------------------------------  */
/*--------------------------------------------           769 a 991 PX              -------------------------------------------------------  */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  nav {
    justify-content: center; }
  .rrss {
    margin-top: 1.3em;
    margin-left: 50%; }
  .home .home__banner .home__banner__titulo {
    width: 45%;
    margin-top: 1.9rem; }
  .home .home__banner .home__banner__protocolo {
    position: absolute;
    margin-left: 69%;
    margin-top: 25%; }
  .gEleginos1, .gEleginos2, .gEleginos3 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gEleginos1 .gEleginos1__doctor {
    margin-right: 0; }
  .gEleginos3 .gEleginos3__cobertura {
    margin-left: 0; }
  .gNeuro1, .gNeuro2, .gNeuro3 {
    justify-self: center;
    width: 15rem; }
  .gAvancesF {
    transform: scale(0.7); }
  .gNeuro1, .gNeuro2, .gNeuro3 {
    width: 17rem; } }

/*--------------------------------------------       RESPONSIVE TABLET       -------------------------------------------------------  */
/*--------------------------------------------         DE 426 a 768 px       -------------------------------------------------------  */
@media only screen and (min-width: 436px) and (max-width: 768px) {
  .imgLogo {
    width: 100%;
    margin-bottom: 0.6em; }
  .rrss {
    margin-top: 2em;
    margin-left: 58%; }
  .home .home__banner .home__banner__titulo {
    width: 45%;
    margin-top: 1.9rem; }
  .home .home__banner .home__banner__protocolo {
    margin-left: 71%;
    margin-top: 35%; }
  .home .home__banner .home__banner__turno {
    margin-left: 68%;
    margin-top: 27%;
    width: auto; }
    .home .home__banner .home__banner__turno .home__banner__turno__a {
      padding: 0.8rem;
      text-align: center; }
  .Header {
    grid-area: "Header"; }
  .gEleginos1, .gEleginos2, .gEleginos3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%; }
  .gEleginos1 .gEleginos1__doctor {
    margin-right: 0; }
  .gEleginos3 .gEleginos3__cobertura {
    margin-left: 0;
    justify-self: center; }
  .gNeuro1, .gNeuro2, .gNeuro3 {
    justify-self: center;
    width: 70%; }
  .gCardAvances {
    margin-right: 0;
    margin-top: 0; }
  .gAvancesF {
    transform: scale(0.6); }
  .gAccidentesF {
    transform: scale(0.7); }
  .gAccidentesC {
    margin-left: 0; }
  .whatsapp .iconWhatsapp {
    width: 4.1em;
    left: 75%; }
  .gBodyHome {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(19, auto);
    grid-template-areas: "Header" "gPrincipalHome" "gEleginos" "gEleginos1" "gEleginos2"  "gEleginos3" "gAvancesF" "gAvancesC" "gNeuroT" "gNeuro1" "gNeuro2" "gNeuro3" "gAccidentesC" "gAccidentesF" "gMapaT" "gMapaF"  "gMapaC" "gFooter1" "Footer"; } }

/*--------------------------------------------       RESPONSIVE MOBILE        -------------------------------------------------------  */
/*--------------------------------------------         HASTA 425px            -------------------------------------------------------  */
@media only screen and (max-width: 435px) {
  .imgLogo {
    width: 100%;
    margin-bottom: 0.4em; }
  .rrss {
    margin-top: 5.2em;
    margin-left: 40%; }
  .home .home__banner .home__banner__titulo {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0; }
  .home .home__banner .home__banner__protocolo {
    margin-left: 25%;
    margin-top: 77%; }
  .home .home__banner .home__banner__turno {
    margin-left: 20%;
    margin-top: 60%;
    width: auto; }
    .home .home__banner .home__banner__turno .home__banner__turno__a {
      padding: 0.8rem;
      text-align: center; }
  .Header {
    grid-area: "Header"; }
  .gEleginos1, .gEleginos2, .gEleginos3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%; }
  .gEleginos1 .gEleginos1__doctor {
    margin-right: 0; }
  .gEleginos3 .gEleginos3__cobertura {
    margin-left: 0;
    justify-self: center; }
  .gNeuro1, .gNeuro2, .gNeuro3 {
    justify-self: center;
    width: 70%; }
  .gCardAvances {
    margin-right: 0;
    margin-top: 0; }
  .gAvancesF {
    transform: scale(0.5); }
  .gAccidentesF {
    transform: scale(0.6); }
  .gAccidentesC {
    margin-left: 0; }
  .whatsapp .iconWhatsapp {
    width: 4.1em;
    left: 75%; }
  .gBodyHome {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(19, auto);
    grid-template-areas: "Header" "gPrincipalHome" "gEleginos" "gEleginos1" "gEleginos2"  "gEleginos3" "gAvancesF" "gAvancesC" "gNeuroT" "gNeuro1" "gNeuro2" "gNeuro3" "gAccidentesC" "gAccidentesF" "gMapaT" "gMapaF"  "gMapaC" "gFooter1" "Footer"; } }
