.h1Articulo{
    grid-area: h1Articulo;
    margin-top: 13px;
}
.articulo{
    grid-area: articulo;
}

/*    NUESTRA HISTORIA    */

.articulo{
    width: 80%;
    position: relative;
    margin-bottom: 5rem;
    margin-left: 10%;
    &__titulo{
        text-align: center;
        font-weight: bold;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }
    &__img{
        width: 20rem;
        float: left;
    }
}

.gHistoria{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:     
                        "Header"
                        "historia1"
                        "h1Historia"
                        "articulo"
                        "gFooter1"
                        "Footer"

}
.historia1{
    grid-area: historia1;
}
.h1Historia{
    grid-area: h1Historia;
    margin-top: 13px;
}


/*    STAFF    */

.cardStaffDir{
    width: ($ancho*3)-2;
    margin: 1rem;
}
.cardStaff{
    width: ($ancho*2);
    margin: 1rem;
    height: auto;
}
.h4Staff{
    text-align: center;
    margin-bottom: 2rem;
}
.grupoStaff{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

/*  NUESTRAS INSTALACIONES */ 

.gInstalaciones{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:     
                        "Header"
                        "ins1"
                        "h1Articulo"
                        "articulo"
                        "gFooter1"
                        "Footer"
}
.ins1{
    grid-area: ins1;
}

/*    BLOG   */
.blog{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cardBlog{
    height: fit-content;
    margin: 2rem;
    min-width: 400px;
}

.gblog{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:     
                        "Header"
                        "blog1"
                        "h1Articulo"
                        "articulo"
                        "gFooter1"
                        "Footer"
}
.blog1{
    grid-area:blog1;
}