/*------------------------------------------ COBERTURA MEDICA ------------------------------------ */

.ulCobertura{
    font-weight: bold;
}
.liCobertura{
    margin-left: 3rem;
    list-style-position:inside;
    list-style-type: none;
    display: inline-block;
    width: 100%;
    position:relative;
    font-size: 14px;
}