.divProblemas{
    background-color: $grisifn;
    border-radius: 5px;
    width: 80%;
    min-width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10%;
    padding:1rem;
    height: auto;
    &--modificado{
        background-color: $blancoifn;
    }
}

.imgProb{
    position: relative;
}
.h1problemas{
    margin-top: 13px;
}
.gProblemas{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
                    "Header"
                    "sProblemas"
                    "mProblemas"
                    "gFooter1"
                    "Footer"
    ;
}
.sProblemas{
    grid-area: sProblemas;
}
.gProblemas{
    grid-area: gProblemas;
}