/*----------------------------------------------- TALLERES -------------------------------------- */
.gTalleres{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(16, auto);
    grid-template-areas: 
                    "Header Header"
                    "gtyc gtyc"
                    "gtalleresPrincipal gtalleresPrincipal"
                    "gTalleresOpciones gTalleresOpciones"
                    "gTalleresVideoT gTalleresVideoT"
                    "gTalleresVideo gTalleresVideo"
                    "gTalleresAbiertos gTalleresAbiertos"
                    "cardt1 cardt1"
                    "cardt2 cardt2"
                    "gCursos gCursos"
                    "cardt3 cardt3"
                    "cardt4 cardt4"
                    "gTalleresCancionT gTalleresCancionT"
                    "gTalleresCancion gTalleresCancion"
                    "gFooter1 gFooter1"
                    "Footer Footer"
    ;
}

.gtyc{
    grid-area: gtyc;
}
.gTalleresPrincipal{
    grid-area: gtalleresPrincipal;
    margin-top: 13px;
}
.gTalleresOpciones{
    grid-area: gTalleresOpciones;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}
.gTalleresVideoT{
    grid-area: gTalleresVideoT;
}
.gTalleresVideo{
    grid-area: gTalleresVideo;
    justify-self: center;
    margin: 2em;
}
.gTalleresAbiertos{
    grid-area: gTalleresAbiertos;
}
.cardt1{
    grid-area: cardt1;
}
.cardt2{
    grid-area: cardt2;
}
.gCursos{
    grid-area: gCursos;
}
.cardt3{
    grid-area: cardt3;
}
.cardt4{
    grid-area: cardt4;
}

.gTalleresCancionT{
    grid-area: gTalleresCancionT;
}
.gTalleresCancion{
    grid-area: gTalleresCancion;
    justify-self: center;
    margin: 2em;
}
.curso1, .curso2{
    width: 22em;
}

.talleres{
    background-color: $grisifn;
}

.aTalleres, .aCursos {
    margin-bottom: 3rem;
}


/*     prueba  */



.gTalleresCard{
    background-color: $grisifn;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 5rem;
    margin: 2rem 3rem;
    .talleres__img{
        width: 80%;
        padding: 0 1rem;
        margin: 0 2rem;
        height: 18rem;
        border-radius: 2px;
    }
    .talleres__texto{
        width: 80%;
    }
}

.talleres__figure{
    width: 80%;
    height: auto;
}

