//   VARIABLES  //

$azulifn: rgb(52, 97, 180);
$celesteinf:  rgb(107, 139, 199);
$azulmedioifn: rgb(35, 72, 141);
$azuloscuroifn: midnightblue;
$blancoifn: white;
$huesoifn: #f0f0f0;
$grisifn:#f8f9fa;
$grismedio: #8a8a8b;
$grisOscuro:#353542;
$azulfb: #3b5998;
$rosaig: #c32aa3;
$azullk: #0e76a8;
$rojoifn:rgb(216, 55, 55);
$negroifn: #000000;
$fontifn1:  'Roboto', sans-serif;
$fontifn2:  'Poppins', sans-serif;
$ancho: 6rem;


//  LINEAMIENTOS GENERALES  //
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fontifn1;
    background-color: $grisifn;
}

h1 { 
    font-family:$fontifn2;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-self: center;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, $azulifn, rgb(75, 116, 194));
    height: 5em;
    padding-top: 2em;
    color:$blancoifn;
    margin-bottom: 2em;
    margin-top: 30px;
}
h2{
    font-family:$fontifn2;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color:$azulifn;
    height: 1.8em;
}
h3{
    font-size: 1.2rem;
    font-family:$fontifn2;
    color:$azuloscuroifn;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}   

h4{
    font-size: 1rem;
    font-family:$fontifn2;
}   




.navbar{
    position: relative;
}

//   BOTONES  //

.btnifn{
    display: flex;
    position: relative;
    width: max-content;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    background: linear-gradient(to bottom, $azulifn, $azulmedioifn);
    color: $blancoifn;
    padding: 0.5em 0.8em;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 2px;
    z-index: 10;
    &:hover{
        color: $azulifn;
        font-weight: 500;
    }
    &::before {
        height: 100%;
        width: 0%;
        background-color: $huesoifn;
        color: $azulifn;
        left: 0;
        top: 0;
        position: absolute;
        content: "";
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        z-index: -1;
    }
    &:hover::before {
        width: 100%;
    }   
}


.btnifn2{
    display: flex;
    position: relative;
    width: max-content;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    background-color: $huesoifn;
    color: $azulifn;
    padding: 0.5em 0.8em;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 2px;
    z-index: 10;
    &:hover{
        color: $blancoifn;
        font-weight: 500;
    }
    &::before {
        height: 100%;
        width: 0%;
        background: linear-gradient(to bottom, $azulifn, $azulmedioifn);
        color: $blancoifn;
        left: 0;
        top: 0;
        position: absolute;
        content: "";
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        z-index: -1;
    }
    &:hover::before {
        width: 100%;
    }   
}

//   CAJA HOVER EFECTO CIRCLE  //



.container-all{
    max-width: 62.5rem;
    margin: auto;

}

.container-box{
    display: flex;
    flex-wrap: wrap;
}



.container-box a{
    text-decoration: none;
    color: $negroifn;

}


.box{
    width: 15.65rem;
    height: 11.25rem;
    padding: 1.25rem;
    margin: 1.25rem;
    background: $blancoifn;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms;
    box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.493);
}

.box:hover{
    transform: translate(5px,-5px);
    box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.493);
}


.box .icon,
.box h4,
.box p{
    position: relative;
    z-index: 1;
    transition: all 200ms;
}


.box .icon{
    font-size: 2.5rem;
    color: $azulifn;
    transform: translateY(30px);
}


.box:hover .icon{
    color: $blancoifn;
    font-size: 30px;
    transform: translateY(0);
}




.box h4,
.box p{
    margin-top: 10px;
}

.box h4{
    font-size: 1.5rem;
    transform: translateY(30px);
}


.box:hover h4{
    color: $blancoifn;
    transform: translateY(0);
}


.box p{
    font-size: 14px;
    transform: translateY(100px);
    opacity: 0;
    color: $blancoifn;
}


.box:hover p{
    transform: translateY(0);
    opacity: 1;
}


.box .background-hover{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: -170px;
    background: $azulifn;
    border-radius: 100%;
    transition: all 300ms;
    background: linear-gradient(to bottom, $azulifn, $azulmedioifn);
}

.box:hover .background-hover{
    width: 400px;
    height: 400px;
    top: -70px;
    left: -70px;
}




















//   CONDICIONAL //

@mixin botones($color){
    background:$color;
    @if $color == $azulifn{
        color: $grisifn;
    }
        @else if $color == $blancoifn{
            color: $azulifn
        }
            @else{
                color: $azuloscuroifn
            }
                
}

//   BUCLE FOR   //

@for $i from 1 through 5{
    .caja-#{$i}{
        background-color: darken(#d9e0f3, $i * 4)
    }
}





// IMAGENES CON ZOOM //
figure{
    overflow: hidden;
}

.figure{
    overflow: hidden;
}

.imgZoom{
    transform: scale(1);
    transition: 0.3s ease-in-out;
    &:hover{
        transform: scale(1.3);
    }
}

// IMAGENES CON OPACIDAD //

.imgOpacity{
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }
}

// IMAGENES CON TEXTO FLOAT //

.imgFloatRight{
    float: right;
    margin-left: 1rem;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    height: 20rem;
}

.imgFloatLeft{
    float: left;
    margin-right: 1rem;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
}

// INFO //

.info{
    margin: 0 1rem;
}

